/* Simple Dock */

#dash:desktop {
    background-color: $bg_color;
}


/* GPaste */

.popup-menu {
  .search-entry {
    color: $fg_color;
    selection-background-color: $selected_bg_color;
    selected-color: $selected_fg_color;
    @include entry(normal);
    &:focus {
      @include entry(focus);
      color: $fg_color;
    }

    .search-entry-icon { color: $tertiary_fg_color; }

    &:hover, &:focus {
      .search-entry-icon { color: $fg_color; }
    }
  }
}


//  * OpenWeather Extension *

.openweather-button-action {
  border: 1px solid transparent;
  background: none;
}
